# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite
*.db-shm
*.db-wal

# Env
.env
/.env
.env.local
.env.dev
.env.prod
*.env

# Telethon session
telegram_session*
*.session

# Venv
venv/
.venv/
venv
.venv

# OS files
.DS_Store
Thumbs.db

# Data
data/*
!data/.gitkeep
*.db
data
/data
static_site/
static_site

# Logs
*.log

# Byte-compiled
*.swp

# IDE files
.vscode/
.idea/
 
# Cache
.cache/

# Outils dev
cmd.txt
